<div class="row">
  <div class="col-6 col-sm-6 col-lg-4">
    <%= image_tag "numbers.jpg", :class => "img-rounded size-medium" %>
    <h2>Number Trainer</h2>
    <p><%= link_to "Start exercising", trainer_number_path, :class => "btn btn-default" %></p>
  </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <%= image_tag "colors.jpg", :class => "img-rounded size-medium" %>
    <h2>Color Trainer</h2>
    <p><%= link_to "Start exercising", trainer_color_path, :class => "btn btn-default" %></p>
  </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <%= image_tag "directions.jpg", :class => "img-rounded size-medium" %>
    <h2>Directions Trainer</h2>
    <p><%= link_to "Start exercising", trainer_direction_path, :class => "btn btn-default" %></p>
  </div><!--/span-->
</div><!--/row-->