  <div class="container">
      <div class="masthead">
        <div class="page-header">
          <%= link_to raw("<h1>Learn Chinese <small>学中文</small></h1>"), root_path %>
        </div>
        <ul class="nav nav-justified">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Lessons", :lessons %></li>
          <li><%= link_to "Trainers", trainer_index_path %></li>
          <li><%= link_to "Admin", admin_index_path %></li>
          <li><%= link_to "About", welcome_about_path %></li>
          <li><%= link_to "Sign in", welcome_login_path %></li>
        </ul>
      </div>
  </div>