<!-- <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Learn Chinese",  root_path, :class => "navbar-brand" =%>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Home", controller: "welcome" =%></li>
            <li><%= link_to "Lessons", lessons_index_path =%></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trainers <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Number Trainer", trainer_number_path =%></li>
                <li><%= link_to "Directions Trainer", trainer_direction_path =%></li>
                <li><%= link_to "Color Trainer", trainer_color_path =%></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Lessons", admin_lessons_path =%></li>
                <li><%= link_to "World", admin_words_path =%></li>
                <li><%= link_to "Concepts", admin_concepts_path =%></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About", welcome_about_path =%></li>
            <li><%= button_to "Sign in", welcome_login_path, :method => "get", :class => "btn btn-default navbar-btn btn-primary" %>
          </ul>
        </div>
       </div> 
    </div> -->

  <div class="container">
      <div class="masthead">
        <div class="page-header">
          <%= link_to raw("<h1>Learn Chinese <small>学中文</small></h1>"), root_path %>
        </div>
        <ul class="nav nav-justified">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Lessons", :lessons %></li>
          <li><%= link_to "Trainers", trainer_index_path %></li>
          <li><%= link_to "Admin", admin_index_path %></li>
          <li><%= link_to "About", welcome_about_path %></li>
          <li><%= link_to "Sign in", welcome_login_path %></li>
        </ul>
      </div>
  </div>